@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes infiniteScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.infinite-slider {
  animation: infiniteScroll 35s linear infinite;
}

.infinite-slider.paused {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.service-card {
  position: relative;
}

/* animated gradient border */
.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(120deg,#F4C688,#9B6B27,#F4C688);
  
  -webkit-mask: 
     linear-gradient(#000 0 0) content-box, 
     linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  opacity: 0;
  transition: opacity .4s ease;
}

/* show border on hover */
.service-card:hover::before {
  opacity: 1;
}


.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(120deg,#F4C688,#9B6B27,#F4C688);
  background-size: 200% 200%;
  animation: borderMove 4s linear infinite;

  -webkit-mask: 
     linear-gradient(#000 0 0) content-box, 
     linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  opacity: 0;
  transition: opacity .4s ease;
}

.service-card:hover::before {
  opacity: 1;
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

html, body {
  overflow-x: hidden;
}

/* golden scrollbar like design */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c9a84c;
  border-radius: 10px;
}